html {
  /* Color */
  --bg-color: rgb(249, 250, 251);
  --color: rgb(41, 41, 41);
  --color-secondary: rgb(117, 117, 117);
  --title-color: rgb(31, 31, 31);
  --blockquote-color: rgba(0, 0, 0, 0.73);
  --blockquote-border-color: rgba(0, 0, 0, 0.31);
  --hr-color: rgba(0, 0, 0, 63);
  --inline-code-color: rgb(41, 41, 41);
  --inline-code-bg: rgb(242, 242, 242);
  --hr-color: #d3d3d3;
  --green: rgb(66, 154, 53);
  --red: rgb(210, 54, 105);

  /* Font */
  --font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  --code-font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;

  font-size: 18px;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: var(--font-family);
  color: var(--color);
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, ul, ol, p, figure, img, pre, blockquote, form, table, iframe, hr, noscript {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 2rem;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: var(--title-color);
  margin-top: 2.7rem;
  line-height: 1.1;
  /*margin-bottom: 1.75rem;*/
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}

blockquote {
  margin-top: 2rem;
  padding-right: 1.7rem;
  padding-left: 2.1rem;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.79rem;
  color: var(--blockquote-color);
  border-left-width: 0.45rem;
  border-left-style: solid;
  border-left-color: var(--blockquote-border-color);
}

@media only screen and (max-width: 480px){
  blockquote {
    border-left-width: 0.2rem;
    padding-left: 0.75rem;
    padding-right: 0;
  }
}

b, strong, th {
  font-weight: 700;
}

i {
  font-style: italic;
}

img {
  max-width: 100%;
}

a {
  color: var(--green);
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:hover, a:active {
  box-shadow: none;
}

hr {
  margin: 4rem auto;
  width: 240px;
  max-width: 100%;
  border: none;
  border-top: 1px solid var(--hr-color);
}

ul, ol {
  padding: 0;
  margin: 2rem 0 0;
  list-style: none none;
  margin-left: 1.1rem;
}

li > ul {
  margin-left: 1.5rem;
}

li {
  margin-top: 1.1rem;
  /*margin-left: 30px;*/
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul li, ol li {

}

li > p {
  margin-top: 0;
}

li > ol, li > ul {
  margin-top: 1.1rem;
}

.task-list-item {
  list-style-type: none;
  /*margin-left: 23px;*/
  position: relative;
}

.task-list-item > input {
  pointer-events: none;
  margin-left: -1.3rem;
  /*margin-top: calc(1rem - 12px);*/
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.task-list-item > input:before {
  content: '\221A';
  display: inline-block;
  width: 1.33333333rem;
  height: 1.6rem;
  vertical-align: middle;
  text-align: center;
  color: #ddd;
  background-color: #fefefe;
}

.task-list-item > input[checked]:before {
  color: inherit;
}

blockquote *:last-child, li *:last-child, p *:last-child {
  margin-bottom: 0;
}

table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

thead {
  text-align: left;
}

tr {
  margin-top: 0.75rem;
}

td, th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .38);
  /* TODO: figure out a proper padding */
  padding: 0.5rem 0.666rem;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

/**
 * Code
 */
code[class*='language-'],
pre[class*='language-'] {
  font-family: var(--code-font-family);
  font-size: 0.85rem !important;
}

/* Code blocks */
pre[class*='language-'] {
  margin-top: 2rem !important;
  padding: 1.3125rem;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  background: var(--inline-code-bg) !important;
  color: var(--inline-code-color) !important;
  padding: 0.15em 0.2em 0.05em !important;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-size: inherit;
}


