:root {
  /* Color */
  --color: rgb(41, 41, 41);
  --color-secondary: rgb(117, 117, 117);
  --bg-color: rgb(249, 250, 251);
  --title-color: rgb(31, 31, 31);
  --blockquote-border-color: rgba(0, 0, 0, 0.41);
  --inline-code-color: rgb(41, 41, 41);
  --inline-code-bg: rgb(242, 242, 242);
  --hr-color: rgb(211, 211, 211);
  --task-list-color: rgba(41, 41, 41, 0.23);
  --table-border-color: rgba(0, 0, 0, 0.37);
  --green: rgb(66, 154, 53);
  --red: rgb(210, 54, 105);

  /* Font */
  --font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  --code-font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;

  /* Block spacing */
  --block-margin-top: 1.75rem;
  --title-margin-top: 2.5rem;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--bg-color);
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p, figure, img, pre, blockquote, form, table, iframe, hr, noscript {
  margin: 0;
  padding: 0;
}

p {
  margin-top: var(--block-margin-top);
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--title-margin-top);
  line-height: 1.1;
  font-weight: 800;
  color: var(--title-color);
}

h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}

blockquote {
  margin-top: var(--block-margin-top);
  padding-right: 1.7rem;
  padding-left: 2.1rem;
  font-style: italic;
  font-size: 1.15rem;
  line-height: 1.79rem;
  opacity: 0.83;
  border-left-width: 0.45rem;
  border-left-style: solid;
  border-left-color: var(--blockquote-border-color);
}

@media only screen and (max-width: 480px) {
  blockquote {
    border-left-width: 0.2rem;
    padding-left: 0.75rem;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
}

a {
  color: var(--green);
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:hover, a:active {
  box-shadow: none;
}

b, strong, th {
  font-weight: 700;
}

hr {
  margin: 3.5rem auto;
  width: 240px;
  max-width: 100%;
  border: none;
  border-top: 1px solid var(--hr-color);
}

/*
 * List
 */

ul, ol {
  margin-top: var(--block-margin-top);
  margin-left: 1.15rem;
  padding: 0;
}

li > ul, li > ol {
  margin-left: 1.5rem;
  margin-top: 1.1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

li {
  margin-top: 1.1rem;
}

li > p {
  margin-top: 0;
}

.task-list-item {
  position: relative;
  list-style-type: none;
}

.task-list-item input {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.27rem;
  margin-left: -1.3rem;
  border: none;
  pointer-events: none;
}

.task-list-item input:before {
  display: inline-block;
  content: '\221A';
  width: 1.333rem;
  height: 1.6rem;
  color: var(--task-list-color);
  font-weight: 600;
  background-color: var(--bg-color);
  vertical-align: middle;
  text-align: left;
}

.task-list-item input[checked]:before {
  color: inherit;
}

/*
 * Table
 */

table {
  margin-top: var(--block-margin-top);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  text-align: left;
  /* Actually I don't know what it means */
  break-inside: auto;
}

tr {
  break-inside: avoid;
  break-after: auto;
}

td, th {
  text-align: left;
  border-bottom: 1px solid var(--table-border-color);
  line-height: 1.3;
  padding: 0.5rem 0.666rem;
  /*vertical-align: top;*/
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

/**
 * Code
 */
code[class*='language-'],
pre[class*='language-'] {
  font-family: var(--code-font-family);
  font-size: 0.85rem !important;
}

/* Code blocks */
pre[class*='language-'] {
  margin-top: var(--block-margin-top) !important;
  padding: 1.3125rem;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  background: var(--inline-code-bg) !important;
  color: var(--inline-code-color) !important;
  padding: 0.15em 0.2em 0.05em !important;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-size: inherit;
}
